
    <%- include("../includes/start.ejs") %>
      </head>
      <body >
    <%- include("../includes/navbar.ejs") %>
      <!-- main body start here  -->
      <div class="container">
        <h1 class="text-primary text-center font-weight-bold">Add Password</h1>
        <hr/>

        <form method="post" action="/admin/add-password">
            <div class="form-group">
              <label for="protectionPassword">Password For Protection</label>
              <input type="password" class="form-control" name="key" id="protectionPassword" placeholder="Password">
            </div>
            <h3 class="text-primary text-center font-weight-bold">Enter Data For Save</h3>
            <hr/>
            <div class="form-group">
                <label for="WebsiteName">Website Name</label>
                <input type="text" class="form-control" name="websiteName" id="websiteName" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="userName">Enter User Name</label>
                <input type="text" name="username" class="form-control" id="userName" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Enter Password</label>
                <input type="text" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>

      <%- include("../includes/end.ejs") %>
      
      
