<!-- Navigation bar start  -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">MICROFARAD</a>
      </div>
      <ul class="nav navbar-nav">
        <%
          let class1="";
          let class2="";
          if (pageName == "MyPassword"){
            class1="active";
          }else{
            class2="active";
          }
        %>
        <li class="<%= class1%>"><a href="/">My Password</a></li>
        <li  class="<%= class2%>"><a href="/admin/add-password">Add Password</a></li>
        
      </ul>
    </div>
  </nav>