<%-include("../includes/start.ejs")%>
</head>
<body>
    <%-include("../includes/navbar.ejs")%>

      <!-- form start -->
      <form class="container" action='/show-password' method="post">
        <div class="form-group">
          <label for="exampleInputPassword1">Enter Your Secret Key</label>
          <input type="password" name='key' class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Show Passwords</button>
      </form>
      <%-include("../includes/end.ejs")%>